<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="myInit">

	<bean id="triangle" class="com.eric.spring.Triangle">
		<property name="PointA" ref="pointA"></property>
		<property name="PointB" ref="pointC"></property>
		<property name="PointC" ref="pointB"></property>

	</bean>
	<bean id="circle" class="com.eric.spring.Circle">
		<!-- property name="center" ref="pointA"></property-->
	</bean>

	<bean id="pointA" class="com.eric.spring.Point" scope="">
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointY}"></property>
	</bean>
	<bean id="pointB" class="com.eric.spring.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointC" class="com.eric.spring.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
	<alias name="triangle" alias="triangle-alias" />
	<!-- bean class="com.eric.spring.DisplayNameBeanPostProcessor"></bean -->

	<bean class="com.eric.spring.MyBeanFactoryPostProcessor"></bean>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="points.properties" />

	</bean>
	<bean class= "org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
</beans>
         